<h1>Product List</h1>
 
<%= link_to 'New Brand', new_product_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Brand</th>
    
  <% @products.each do |product| %>
    <tr> 
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.brand.name %></td>

      <td><%= link_to 'Open', product_path(product) %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Delete', product_path(product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>


</table>

  Total:
  <%= @products.map { |p| p.price}.reduce(:+) %>