
<h1>PROIBANDO ESTA MADRE    QUE FUNCIONE.!!!!!!</h1>


<h1>Brand List</h1>
 
<%= link_to 'New Brand', new_brand_path %>
<table>
  <tr>
    <th>Name</th>
    
  <% @brands.each do |brand| %>
    <tr>
      <td><%= brand.name %></td>
      <td><%= link_to 'Open', brand_path(brand) %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <td><%= link_to 'Delete', brand_path(brand),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>